<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>value</key>
		<string>MPa</string>
		<key>id</key>
		<string>31016E7A-A3D6-4EDB-8627-095736862161</string>
	</dict>
	<dict>
		<key>value</key>
		<string>%</string>
		<key>id</key>
		<string>D4CD07ED-71B2-4BFD-A417-0D6FB89DC030</string>
	</dict>
	<dict>
		<key>value</key>
		<string>°C</string>
		<key>id</key>
		<string>3E19F1E8-BF29-4636-B8E5-2272721F0EB7</string>
	</dict>
	<dict>
		<key>value</key>
		<string>hPa</string>
		<key>id</key>
		<string>228ECFAA-4ACB-491F-9944-291F15B304CA</string>
	</dict>
	<dict>
		<key>value</key>
		<string>cm</string>
		<key>id</key>
		<string>3CA471A3-E41E-48E0-8CF0-59EC36944D62</string>
	</dict>
	<dict>
		<key>value</key>
		<string>个/L</string>
		<key>id</key>
		<string>77772785-6306-4522-B84E-5FBACE053781</string>
	</dict>
	<dict>
		<key>value</key>
		<string>m³/s</string>
		<key>id</key>
		<string>B34372B0-8AFF-40D8-8F14-63CDABE7D833</string>
	</dict>
	<dict>
		<key>value</key>
		<string>m/s</string>
		<key>id</key>
		<string>DB162C01-2AA8-4CFE-A627-6EC9236B9288</string>
	</dict>
	<dict>
		<key>value</key>
		<string>dB</string>
		<key>id</key>
		<string>FC44969C-6CC8-426F-8FDA-78AB9C865195</string>
	</dict>
	<dict>
		<key>value</key>
		<string>mg/m³</string>
		<key>id</key>
		<string>1A95F9E3-A86F-4556-99DD-903EF7D3B85B</string>
	</dict>
	<dict>
		<key>value</key>
		<string>%RH</string>
		<key>id</key>
		<string>FC08B1EC-F447-435F-AC60-92BD70CECA6D</string>
	</dict>
	<dict>
		<key>value</key>
		<string>°</string>
		<key>id</key>
		<string>173493BE-6044-4AB8-AF3F-941C6CDDFA38</string>
	</dict>
	<dict>
		<key>value</key>
		<string>无量纲</string>
		<key>id</key>
		<string>BD5F5682-7877-4AE9-B5D8-A5CA8DE24998</string>
	</dict>
	<dict>
		<key>value</key>
		<string>ms/m</string>
		<key>id</key>
		<string>6F371E54-EED9-43A9-95C5-A7DD932EF6A4</string>
	</dict>
	<dict>
		<key>value</key>
		<string>m³/h</string>
		<key>id</key>
		<string>9833EA70-4882-4341-A169-AF22F6D61104</string>
	</dict>
	<dict>
		<key>value</key>
		<string>mg/L</string>
		<key>id</key>
		<string>8E98068D-B11F-4096-99AD-C98B387E5B38</string>
	</dict>
	<dict>
		<key>value</key>
		<string>ug/m3</string>
		<key>id</key>
		<string>6C1C58A5-7056-4E8E-8DD1-D4CCF8B1BCD4</string>
	</dict>
	<dict>
		<key>value</key>
		<string>M</string>
		<key>id</key>
		<string>DB00E3FE-095F-4FAA-9AC0-FFEF3D8C4B1D</string>
	</dict>
</array>
</plist>
